<!-- 



<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b20dd3dd;" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="about">AboutUs</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>   
        
        <li class="nav-item">
          <a class="nav-link" routerLink="ingrediants">Ingrediants</a>
        </li> 

        <li class="nav-item">
          <a class="nav-link" routerLink="addrecipe">Add-Recipe</a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="logout">Logout</a>
          </li>
        </ul>
      </form>

     
    </div>
  </div>
</nav> -->




<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #17151c;" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <!-- <li class="nav-item">
          <a class="nav-link active" routerLink="home" >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="about" >AboutUs
            <span class="visually-hidden">(current)</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">AboutUs</a>
        </li> 
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="login">Login</a> -->
          <a class="nav-link"  [class.disabled]="loginStatus" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="register">Register</a> -->
          <a class="nav-link" [class.disabled]="loginStatus" routerLink="register">Register</a>
        </li>   
<!--         
        <li class="nav-item">
          <a class="nav-link" routerLink="ingrediants">Ingrediants</a>
        </li>  -->

        <li class="nav-item">
          <a class="nav-link" routerLink="addrecipe">Add-Recipe</a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto">
         
          <!-- <button (click)="logout()" [disabled]="!isUserLoggedIn">Logout</button> -->
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="!loginStatus" routerLink="logout">Logout</a>
                </li>
        </ul>
      </form>

     
    </div>
  </div>
</nav>