<div class="recipe-container">
    <h1>Delicious Veg noodles</h1>
    <div class="grid-container">
        <div class="image-container">
            <a href="https://player.vimeo.com/video/949105745?h=c811faa6eb">
                <img src="https://st4.depositphotos.com/19960896/23021/i/600/depositphotos_230216420-stock-photo-schezwan-noodles-vegetable-hakka-noodles.jpg" alt="Veg Noodles">
            </a>  
        </div>
        <div class="ingredients">
            <h2>Ingredients:</h2>
            <ul>
                <li>200g noodles</li>
                <li>2 tbsp cooking oil</li>
                <li>1 small onion, thinly sliced</li>
                <li>2 cloves garlic, minced</li>
                <li>1 cup mixed vegetables (carrots, bell peppers, cabbage, beans), julienned</li>
                <li>2 tbsp soy sauce</li>
                <li>1 tbsp chili sauce</li>
                <li>1 tbsp tomato ketchup</li>
                <li>1 tsp vinegar</li>
                <li>Salt and pepper to taste</li>
                <li>2 green onions, chopped</li>
               
            </ul>
        </div>
        <div class="instructions">
            <h2>Instructions:</h2>
            <ol>
                <li>Cook noodles according to package instructions. Drain and set aside.</li>
                <li>Heat oil in a large pan or wok over medium-high heat.</li>
                <li>Add sliced onion and minced garlic, sauté until fragrant.</li>
                <li>Add mixed vegetables and stir-fry for a few minutes until tender-crisp.</li>
                <li>Add cooked noodles to the pan and toss well.</li>
                <li>Stir in soy sauce, chili sauce, tomato ketchup, and vinegar. Mix well to coat the noodles.</li>
                <li>Season with salt and pepper to taste.</li>
                <li>Garnish with chopped green onions and serve hot.</li>
            </ol>
            <h4>To watch the recipe video, click on the image.</h4>
            <button (click)="purchaseIngredients()" class="purchase-button">Purchase</button>
        </div>
    </div>
</div>
