body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recipe-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top:50px;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: start;
}

.image-container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.image-container img {
    width: 100%;
    height: 870px;
    display: block;
}

.ingredients {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.instructions {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.ingredients, .instructions {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.ingredients {
    background-color: #ebcaa8;  /* Light peach background for ingredients */
}

.instructions {
    background-color: #b0d8eb;  /* Light blue background for instructions */
}


.purchase-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 200px;
}

.purchase-button:hover {
    background-color: #45a049;
    
}
