<footer class="bg-light text-dark py-5"  style="border-top: 2px solid #333131; box-shadow: 0px 4px 8px rgba(24, 23, 23, 0.1);">
    <div class="container">
      <h3>Savor</h3>
      
      <div class="row">
        <div class="col-md-2">
          <h4>Company</h4>
          <ul class="list-unstyled">
            
            <li ><a routerLink="home" class="text-dark">Home</a></li>
            <li><a routerLink="about" class="text-dark">About Us</a></li>
            <li><a routerLink="register" class="text-dark">Register</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Reach Us</h4>
          <span>3-1-19 , Hyderabad</span><br>
          <span> Telangana </span><br>
          <span>+91 9059066335</span>
          <p></p>
        </div>
        <div class="col-md-2">
          <h4>We Deliver To</h4>
         
          <span>Gachibowli</span><br>
          <span>Madhapur</span><br>
          <span>Hitech-City</span><br>
          <span>Hyderabad</span><br>
         
        </div>
        <div class="col-md-2">
            <h4>Legal</h4>
           
            <span>Terms and Conditions</span><br>
            <span>Cookie policy</span><br>
            <span>Privacy policy</span><br>
            <span>Investor</span><br>
           
          </div>


        <div class="col-md-3 d-flex flex-column align-items-center">
          <h5>Team Solution</h5>
          <div class="d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/thanniru-shruthika-2278a1234" target="_blank" class="text-dark mr-3">
              <img src="https://www.svgrepo.com/show/922/linkedin.svg" alt="LinkedIn" width="30px" />
            </a>
            <!-- <a href="https://www.facebook.com/profile.php?id=100023732749070" target="_blank" class="text-dark mr-3">
              <img src="https://www.svgrepo.com/show/21657/facebook.svg" alt="Facebook" width="30px" />
            </a> -->
            <a href="https://www.instagram.com/thannirushruthika?igsh=Y3oxYml1dnllaHh5" target="_blank" class="text-dark mr-3">
              <img src="https://www.svgrepo.com/show/41940/instagram.svg" alt="Instagram" width="30px" />
            </a>
           
           
          </div>
        </div>
      </div>
    </div>
  </footer>
