body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.recipe-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

h1, h2 {
    color: #333;
    text-align: center;
}

h1{
    margin-top:50px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul, ol {
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}

.recipe-details {
    line-height: 1.6;
}

 h2 {
    color: #e44d26;
    border-bottom: 2px solid #e44d26;
    padding-bottom: 5px;
    margin-top: 20px;
}

 ul, ol {
    margin-top: 10px;
} 


footer {
    margin-top: 20px;
    text-align: center;
    color: #777;
}


@media only screen and (max-width: 600px) {
    .recipe-container {
        border-radius: 0;
    }
}

.recipe-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .recipe-container img {
    width: 100%;
    border-radius: 10px;
  }
  .recipe-details h2 {
    margin-top: 20px;
  }
  .recipe-details ul, .recipe-details ol {
    margin-left: 20px;
  }
  .purchase-button {
    display: block;
    width: 25%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: #aacee2;
    color: hsl(0, 0%, 2%);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 200px;
  }
  .purchase-button:hover {
    background-color: #218838;
  }
  